<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Please login</h1>
    <form action="/api/login" method="POST">
      <label for="account">Account:</label><br />
      <input type="text" id="account" name="account" /><br />
      <label for="key">Key:</label><br />
      <input type="text" id="key" name="key" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
